<div>
    <h2 id="page-heading">
        <span jhiTranslate="aeroportApp.aeroport.home.title">Aeroports</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-aeroport" [routerLink]="['/aeroport/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="aeroportApp.aeroport.home.createLabel">
            Create a new Aeroport
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="aeroports?.length === 0">
        <span jhiTranslate="aeroportApp.aeroport.home.notFound">No aeroports found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="aeroports && aeroports.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="aeroportApp.aeroport.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ville"><span jhiTranslate="aeroportApp.aeroport.ville">Ville</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maxAvion"><span jhiTranslate="aeroportApp.aeroport.maxAvion">Max Avion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aeroport of aeroports ;trackBy: trackId">
                    <td><a [routerLink]="['/aeroport', aeroport.id, 'view']">{{ aeroport.id }}</a></td>
                    <td>{{ aeroport.name }}</td>
                    <td>{{ aeroport.ville }}</td>
                    <td>{{ aeroport.maxAvion }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/aeroport', aeroport.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/aeroport', aeroport.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(aeroport)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="aeroports && aeroports.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
